<!DOCTYPE html>
<html>
<head>
  <title>Seymour</title>
  <%= stylesheet_link_tag    "seymour/application" %>
  <%= javascript_include_tag "seymour/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
